.LoginContainer{
    display: flex;
  min-height: 100vh;
  background-color: #c5ced4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.login-card {
  position: absolute;
    width: 500px;
    height: 400px;
    padding: 35px;
    background: #c5ced4;
    /* border: 2px solid #2b8cff; */
    border-radius: 80px 0px 80px 0px;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    right: 178px;
    margin-top: 50px;
}

.Loginlogo-card {
  position: absolute;
    width: 500px;
    height: 635px;
    padding: 35px;
    background: #162b3a;
    /* border: 2px solid #2b8cff; */
    border-radius: 0px 150px 150px 0px;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    left: 115px;
    /* margin-top: 20px; */
}

/* Heading */
.login-card h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

/* Labels */
.Loginform-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px solid #171718;
}

.Loginform-group label {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: black;
    margin-right: 239px;
    text-align: left;
}

/* Inputs */
.Loginform-group input {
    height: 42px;
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    font-size: 15px;
    outline: none;
    color: black;
    background: #ececec;
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
}

.login-link {
    text-align: center;
    color: rgb(29, 29, 29);

}

.login-link span{
    text-align: left;
    color: #d16a10;
    cursor: pointer;

}

.forgot-link{
    text-align: left;
    color: #1310d1;
    cursor: pointer;
    font-weight: bold;

}

/* Button */
.LoginsubmitButton {
    width: 170px;
    height: 42px;
    display: block;
    margin: 20px auto 20px;
    border: none;
    border-radius: 25px;
    background: #d16a10;
    color: rgb(235, 235, 235);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: medium;
}

.LoginsubmitButton:hover {
    background: #f3aa69;
}

.Loginlogoicon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 180px;
}

.Loginwelcome-text{
    margin-top: 65%;
    font-weight: 700;
}